{% extends 'conference/base.html' %}

{% load sekizai_tags staticfiles pipeline %}

{% block big-heading %}
    <h1>About the PythonMN Conference</h1>
{% endblock big-heading %}

{% block content %}
    <h3>The PythonMN developers conference is all about the Python programming language.</h3>
    <h3>There will be presentations scheduled to go on throughout the day.</h3>
    <h3>Pythonistas of all ages and experience levels are welcome!</h3>
{% endblock content %}

{% block logo %}{% endblock logo %}