boto==2.34.0
Django==1.7.4
psycopg2==2.5.4
dj-database-url==0.3.0
django-pipeline==1.4.2
django-redis-cache==0.13.0
django-sekizai==0.8
django-storages==1.1.8
hiredis==0.1.5
pytz==2014.10
redis==2.10.3
uwsgi
wsgiref==0.1.2
werkzeug